<div style="top:0;" #init></div>
<img src="assets/desktopImg/list.jpg" id="background-img" class="main-home" (load)="doSomething()"/>
<button class="p1" id="p1" (click)="openDialog('assets/desktopImg/1P.jpg')"></button>
<button class="p2" id="p2" (click)="openDialog('assets/desktopImg/2P.jpg')"></button>
<button class="p3" id="p3" (click)="openDialog('assets/desktopImg/3P.jpg')"></button>
<button class="p4" id="p4" (click)="openDialog('assets/desktopImg/4P.jpg')"></button>
<button class="p5" id="p5" (click)="openDialog('assets/desktopImg/5P.jpg')"></button>
<button class="p6" id="p6" (click)="openDialog('assets/desktopImg/6P.jpg')"></button>
<button class="p7" id="p7" (click)="openDialog('assets/desktopImg/7P.jpg')"></button>
<button class="p8" id="p8" (click)="openDialog('assets/desktopImg/8P.jpg')"></button>
<button class="p9" id="p9" (click)="openDialog('assets/desktopImg/9P.jpg')"></button>
<button class="p10" id="p10" (click)="openDialog('assets/desktopImg/10P.jpg')"></button>
<button class="p11" id="p11" (click)="openDialog('assets/desktopImg/11P.jpg')"></button>
<button class="p12" id="p12" (click)="openDialog('assets/desktopImg/12P.jpg')"></button>
<button class="p13" id="p13" (click)="openDialog('assets/desktopImg/13P.jpg')"></button>
<button class="p14" id="p14" (click)="openDialog('assets/desktopImg/14P.jpg')"></button>
<button class="p15" id="p15" (click)="openDialog('assets/desktopImg/15P.jpg')"></button>
<button class="p16" id="p16" (click)="openDialog('assets/desktopImg/16P.jpg')"></button>
<button class="p17" id="p17" (click)="openDialog('assets/desktopImg/17P.jpg')"></button>
<button class="p18" id="p18" (click)="openDialog('assets/desktopImg/18P.JPG')"></button>
<button class="p19" id="p19" (click)="openDialog('assets/desktopImg/19P.jpg')"></button>
<button class="p20" id="p20" (click)="openDialog('assets/desktopImg/20P.jpg')"></button>
<button class="p21" id="p21" (click)="openDialog('assets/desktopImg/21P.jpg')"></button>
<button class="p22" id="p22" (click)="openDialog('assets/desktopImg/22P.jpg')"></button>
<button class="p23" id="p23" (click)="openDialog('assets/desktopImg/23P.jpg')"></button>
<button class="p24" id="p24" (click)="openDialog('assets/desktopImg/24P.jpg')"></button>
<button class="p25" id="p25" (click)="openDialog('assets/desktopImg/25P.jpg')"></button>
<button class="p26" id="p26" (click)="openDialog('assets/desktopImg/26P.jpg')"></button>
<button class="p27" id="p27" (click)="openDialog('assets/desktopImg/27P.jpg')"></button>
<button class="p28" id="p28" (click)="openDialog('assets/desktopImg/28P.jpg')"></button>
<button class="p29" id="p29" (click)="openDialog('assets/desktopImg/29P.jpg')"></button>
<button class="p30" id="p30" (click)="openDialog('assets/desktopImg/30P.jpg')"></button>
<button class="p31" id="p31" (click)="openDialog('assets/desktopImg/31P.jpg')"></button>
<button class="p32" id="p32" (click)="openDialog('assets/desktopImg/32P.jpg')"></button>
<button class="p33" id="p33" (click)="openDialog('assets/desktopImg/33P.jpg')"></button>
<button class="p34" id="p34" (click)="openDialog('assets/desktopImg/34P.jpg')"></button>
<button class="p35" id="p35" (click)="openDialog('assets/desktopImg/35P.jpg')"></button>
<button class="p36" id="p36" (click)="openDialog('assets/desktopImg/36P.jpg')"></button>
<button class="p37" id="p37" (click)="openDialog('assets/desktopImg/37P.jpg')"></button>
<button class="p38" id="p38" (click)="openDialog('assets/desktopImg/38P.jpg')"></button>
<button class="p39" id="p39" (click)="openDialog('assets/desktopImg/39P.jpg')"></button>
<button class="p40" id="p40" (click)="openDialog('assets/desktopImg/40P.jpg')"></button>
<button class="p41" id="p41" (click)="openDialog('assets/desktopImg/41P.jpg')"></button>
<button class="p42" id="p42" (click)="openDialog('assets/desktopImg/42P.jpg')"></button>
<button class="p43" id="p43" (click)="openDialog('assets/desktopImg/43P.jpg')"></button>
<button class="p44" id="p44" (click)="openDialog('assets/desktopImg/44P.jpg')"></button>
<button class="p45" id="p45" (click)="openDialog('assets/desktopImg/45P.jpg')"></button>