.main-home{
    width: 100%;
    /* height: 5000px; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.p1{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 67.5%;
    top: 28px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p2{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 126px;
    right: 41%;
    top: 28px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p3{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 14.5%;
    top: 28px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p4{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 64.5%;
    top: 363px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p5{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 38.5%;
    top: 363px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p6{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 11.5%;
    top: 363px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p7{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 67.5%;
    top: 666px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p8{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 40.5%;
    top: 666px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p9{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 14.5%;
    top: 666px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p10{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 64.5%;
    top: 1035px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p11{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 38.5%;
    top: 1035px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p12{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 11.5%;
    top: 1035px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p13{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 67.5%;
    top: 1342px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p14{
    position: absolute;
    background-color: transparent ;
    width: 24.5%;
    height: 20%;
    right: 40.5% ;
    top: 1342px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p15{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 14.5%;
    top: 1342px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p16{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 64.5%;
    top: 1655px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p17{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 38.5%;
    top: 1655px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p18{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right:11.5%;
    top: 1655px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p19{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right:  67.5%;
    top: 2025px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p20{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 40.5%;
    top: 2025px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p21{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 14.5%;
    top: 2025px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p22{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 63.5%;
    top: 2330px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p23{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 37.5%;
    top: 2330px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p24{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right:11.5%;
    top: 2330px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p25{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 67.5%;
    top: 2635px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p26{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 41.5%;
    top: 2635px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p27{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 14.5%;
    top: 2635px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p28{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right:64.5%;
    top: 2992px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p29{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 37.5%;
    top: 2992px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p30{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 11.5%;
    top: 2992px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p31{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 67.5%;
    top: 3299px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p32{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 40.5%;
    top: 3299px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p33{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 14.5%;
    top: 3299px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p34{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right:64.5%;
    top: 3604px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p35{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 37.5%;
    top: 3604px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p36{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 11.5%;
    top: 3604px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p37{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 67.5%;
    top: 3978px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p38{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 40.5%;
    top: 3978px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p39{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 14.5%;
    top: 3978px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p40{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 64.5%;
    top: 4283px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p41{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 37.5%;
    top: 4283px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p42{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 11.5%;
    top: 4283px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p43{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 67.5%;
    top: 4587px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p44{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 40.5%;
    top: 4587px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p45{
    position: absolute;
    background-color: transparent;
    width: 24.5%;
    height: 20%;
    right: 14.5%;
    top: 4587px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}