<img [src]="background" id="background-img" class="main-home" (load)="doSomething()"/>
<form [formGroup]="form">
<div class="row text-center" *ngIf="oculter">
    <div class="col-12" >
        <img [src]="background2" 
        id="background2"
        alt="" class="background2">
        <input type="text" style="
          position: absolute;
          background-position: center;
          top: 147px;
          left: 619px;
          width: 302px;
          height: 23px;
        " id="email"
        formControlName="correo">
        <input type="text" style="
          position: absolute;
          background-position: center;
          top: 232px;
          left: 648px;
          width: 273px;
          border: 0px;
          height: 23px;
        " id="monto"
        formControlName="monto">
        <button class="donara" id="donara" (click)="donar()"></button>
    </div>
    <br>
</div>
<br>

</form>

<div *ngIf="materialExclusivo">
    <img [src]="['assets/popup-material-exclusivo/'+idioma.idioma+'.png']" style="height:290px"/>
    <button class="button-invisible" mat-dialog-close
    (click)="loadingBarService.start()"
    [routerLink]="['../exclusivo']" routerLinkActive="router-link-active" ></button>
</div>