.main-home{
    width: 100%;    
    /* height: 700px; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.paypal{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 195px;
    right: 67.5%;
    top: 187px;
    border: transparent;
    outline: none;
    z-index: 200;
}
.credit{
    position: absolute;
    background-color: transparent;
    width: 12.5%;
    height: 195px;
    right: 49.5%;
    top: 187px;
    border: transparent;
    outline: none;
    z-index: 200;
}



.button-invisible{
    background: transparent;
    width: 41%;
    height: 30px;
    position: absolute;
    margin-left: lef;
    left: 52%;
    top: 413px;
    outline: none;
    border:none;
  }
  
  /* .email{
    position: absolute;
    margin-right: 50px;
  } */
  .img{
    position: relative;
    width: 100%;
    /* height: 40%; */
  }

  .background2{
    width: 30%;
    position: absolute;
    top: 114px;
    left: 600px;
  }
  
  .donara{
    background: transparent;
    width: 21%;
    height: 30px;
    position: absolute;
    left: 618ox;
    top: 284px;
    outline: none;
    border: none;
  }
  