::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
  }
  ::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: white;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #f44336;
  font-size: 20px !important;

}


.button-invisible{
  background: transparent;
  width: 41%;
  height: 87px;
  position: absolute;
  left: 52%;
  top: 399px;
  outline: none;
  border: none;
}

/* .email{
  position: absolute;
  margin-right: 50px;
} */
.img{
  position: relative;
  width: 100%;
  /* height: 40%; */
}

