<div *ngIf="!materialExclusivo" style="height: 400px;"
><ngx-paypal [config]="payPalConfig"></ngx-paypal></div>

<div *ngIf="materialExclusivo"  style="overflow-x: hidden;" >
    <img [src]="['assets/popup-material-exclusivo/'+idioma.idioma+'.png']" style="height:400px; overflow-x: hidden;"/>
    <button class="button-invisible" mat-dialog-close
    (click)="loadingBarService.start()"
    [routerLink]="['../exclusivo']" routerLinkActive="router-link-active" ></button>
</div>