.main-home{
    width: 250px;
    background-color: transparent;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    right: 40%;
    top: 40%;
    position: absolute;

}