<img [src]="background" id="background-img" style="width: 80%;" class="main-home" />
<div mat-dialog-actions>
  <a class="link" mat-dialog-close id="link" [href]="data" download="halsey-wallpaper" (click)="download()"></a>
  <button mat-button mat-dialog-close id="close" cdkFocusInitial class="close"></button>
  <button mat-button mat-dialog-close id="inicio" [routerLink]="['../']" cdkFocusInitial class="close-2" [title]="title"></button>
</div>