.main-home{
    width: 100%;
    /* height: 500px; */
    background-color: transparent;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.link{
    background-color: transparent;
    width: 14%;
    cursor : url("../../../assets/cursors/CURSOR-GUITARRA.png"), url("../../../assets/cursors/CURSOR-GUITARRA.cur"),auto;
    height: 35px;
    top: 376px;
    right: 38%;
    position: absolute;
}
.close{
    background-color: transparent;
    width: 14%;
    cursor : url("../../../assets/cursors/CURSOR-GUITARRA.png"), url("../../../assets/cursors/CURSOR-GUITARRA.cur"),auto;
    height: 35px;
    top: 418px;
    right: 38%;
    position: absolute;
}
.close-2{
    position: absolute;
    background-color: transparent;
    width: 5%;
    height: 38px;
    cursor : url("../../../assets/cursors/CURSOR-GUITARRA.png"), url("../../../assets/cursors/CURSOR-GUITARRA.cur"),auto;
    top: 464px;
    right: 42%;
    border: transparent;
    outline: none;
    z-index: 200;
}