<img [src]="background" id="background-img" class="main-home" (load)="doSomething()"/>
<button (click)="veridiomas()" id="veridiomas" class="veridiomas"></button>
<button (click)="donacion()"  id="donacion"   class="donacion"></button>
<button (click)="contacto()"  id="contacto"   class="contacto"></button>
<button (click)="desktopImg()"  id="desktopImg"  class="desktopImg"></button>
<button (click)="phoneImg()" id="phoneImg"   class="phoneImg"></button>
<button (click)="smallphoneImg()"  id="smallphoneImg" class="smallphoneImg"></button>

<div class="banderas-hide row text-center" id="banderas" [class.banderas]="idiomasMostrar"
style="justify-content: center;">
    <div class="col-12 text-center" style="margin-top:25%!important;"><button class="boton-bandera" id="bandera5" (click)="setingles()"> <img src="./assets/banderas/ingles.png" class="bandera"></button></div>
    <div class="col-12" style="margin-top:25%!important;">
        <button  class="boton-bandera" (click)="setespanol()" id="bandera4"> <img src="./assets/banderas/espanol.png" class="bandera"></button>
    </div>
    <div class="col-12" style="margin-top:25%!important;"><button class="boton-bandera" id="bandera" (click)="setaleman()"> <img src="./assets/banderas/aleman.png" class="bandera"></button></div>
    <div class="col-12" style="margin-top:25%!important;"><button class="boton-bandera" id="bandera1" (click)="setitaliano()"> <img src="./assets/banderas/italiano.png" class="bandera"></button></div>
    <div class="col-12" style="margin-top:25%!important;"><button class="boton-bandera" id="bandera2" (click)="setportugues()"> <img src="./assets/banderas/portugues.png" class="bandera"></button></div>
    <div class="col-12" style="margin-top:25%!important;"><button class="boton-bandera" id="bandera3" (click)="setfrances()"> <img src="./assets/banderas/frances.png" class="bandera"></button></div>

</div>
