.main-home{
    width: 100%;
    /* height: 5000px; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.veridiomas{
    position: absolute;
    background-color: transparent;
    width: 10%;
    height: 10%;
    right: 83%;
    /* top: 670px; */
    
    border: transparent;
    outline:none;
    z-index: 200;
}
.donacion{
    position: absolute;
    background-color: transparent;
    width: 10%;
    height: 10%;
    right: 71%;
    top: 670px;
    
    border: transparent;
    outline:none;
    z-index: 200;
}
.contacto{
    position: absolute;
    background-color: transparent;
    width: 10%;
    height: 10%;
    right: 59%;
    top: 670px;
    
    border: transparent;
    outline:none;
    z-index: 200;
}
.banderas-hide{
    height: 866px;
    width: 0%;
    right: 0;
    top:0;
    position: absolute;
    background-color:rgba(0,0,0,0.4);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
.banderas{
    height: 351px;
    width: 10% !important;
    right: 0;
    top:48px;
    position: absolute;
    background-color:rgba(0,0,0,0.4);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
.bandera-ingles{
    width: 100%;
    margin-top:27%!important;
}
.bandera-espanol{
    width: 100%;
    margin-top:27%!important;
}
.bandera-aleman{
    width: 100%;
    margin-top:27%!important;
}
.bandera-italiano{
    width: 100%;
    margin-top:27%!important;
}
.bandera-portugues{
    width: 100%;
    margin-top:27%!important;
}
.bandera-frances{
    width: 100%;
    margin-top:27%!important;
}
.boton-bandera{
    background: transparent;
    outline: none;
    border: transparent;
    
}
.desktopImg{
    position: absolute;
    background-color: transparent;
    width: 12%;
    height: 10%;
    right: 33%;
    top: 1388px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.phoneImg{
    position: absolute;
    background-color: transparent;
    width: 12%;
    height: 10%;
    right: 76%;
    top: 2688px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.smallphoneImg{
    position: absolute;
    background-color: transparent;
    width: 12%;
    height: 10%;
    right: 15%;
    top: 3577px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}

.bandera{
    width: 100%;
}