<img [src]="background" id="background-img" class="main-home" (load)="doSomething()"/>
<button class="p1" id="p1" (click)="openDialog('assets/exclusivo/1PC.jpg')"></button>
<button class="p2" id="p2" (click)="openDialog('assets/exclusivo/2PC.jpg')"></button>
<button class="p3" id="p3" (click)="openDialog('assets/exclusivo/3PC.jpg')"></button>
<button class="p4" id="p4" (click)="openDialog('assets/exclusivo/4PC.jpg')"></button>
<button class="p5" id="p5" (click)="openDialog('assets/exclusivo/5PC.jpg')"></button>
<button class="p6" id="p6" (click)="openDialog('assets/exclusivo/6PC.jpg')"></button>
<button class="p7" id="p7" (click)="openDialog('assets/exclusivo/7PC.jpg')"></button>
<button class="p8" id="p8" (click)="openDialog('assets/exclusivo/8PC.jpg')"></button>
<button class="p9" id="p9" (click)="openDialog('assets/exclusivo/9PC.jpg')"></button>
<button class="salida" [routerLink]="['../']" routerLinkActive="router-link-active" ></button>