.main-home{
    width: 100%;
   /* height: 622px;*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.p1{
    position: absolute;
    background-color: transparent;
    width: 25.5%;
    height: 161px;
    right: 64.5%;
    top: 38px;
    border: transparent;
    outline: none;
    z-index: 200;
}
.p2{
    position: absolute;
    background-color: transparent;
    width: 25.5%;
    height: 161px;
    right: 37.5%;
    top: 38px;
    border: transparent;
    outline: none;
    z-index: 200;
}
.p3{
    position: absolute;
    background-color: transparent;
    width: 25.5%;
    height: 161px;
    right: 10.5%;
    top: 38px;
    border: transparent;
    outline: none;
    z-index: 200;
}
.p4{
    position: absolute;
    background-color: transparent;
    width: 25.5%;
    height: 161px;
    right: 68.5%;
    top: 214px;
    border: transparent;
    outline: none;
    z-index: 200;
}
.p5{
    position: absolute;
    background-color: transparent;
    width: 25.5%;
    height: 161px;
    right: 40.5%;
    top: 214px;
    border: transparent;
    outline: none;
    z-index: 200;
}
.p6{
    position: absolute;
    background-color: transparent;
    width: 25.5%;
    height: 161px;
    right: 14.5%;
    top: 214px;
    border: transparent;
    outline: none;
    z-index: 200;
}
.p7{
    position: absolute;
    background-color: transparent;
    width: 25.5%;
    height: 161px;
    right: 64.5%;
    top: 387px;
    border: transparent;
    outline: none;
    z-index: 200;
}
.p8{
    position: absolute;
    background-color: transparent;
    width: 25.5%;
    height: 161px;
    right: 37.5%;
    top: 387px;
    border: transparent;
    outline: none;
    z-index: 200;
}
.p9{
    position: absolute;
    background-color: transparent;
    width: 25.5%;
    height: 161px;
    right: 10.5%;
    top: 387px;
    border: transparent;
    outline: none;
    z-index: 200;
}

.salida{
    position: absolute;
    background-color: transparent;
    width: 2.5%;
    height: 34px;
    right: 2.5%;
    top: 28px;
    border: transparent;
    outline: none;
    z-index: 200;

}