.main-home{
    width: 100%;
    /* height: 5000px; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.main-home{
    width: 100%;
    /* height: 5000px; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.p1{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 78.5%;
    top: 59px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p2{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right:66.5%;
    top: 59px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p3{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 54.5%;
    top: 59px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p4{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 42.5%;
    top: 59px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p5{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right:30.5%;
    top: 59px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p6{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 18.5%;
    top: 59px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p7{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 72.5%;
    top: 632px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p8{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right:60.5%;
    top: 632px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p9{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 48.5%;
    top: 632px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p10{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right:36.5%;
    top: 632px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p11{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 24.5%;
    top: 632px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p12{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 13.5%;
    top: 632px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p13{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 78.5%;
    top: 1272px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p14{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 66.5%;
    top: 1272px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p15{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 54.5%;
    top: 1272px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p16{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 42.5%;
    top: 1272px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p17{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 30.5%;
    top: 1272px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p18{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 19.5%;
    top: 1272px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p19{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 72.5%;
    top: 1840px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p20{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 60.5%;
    top: 1840px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p21{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 48.5%;
    top: 1840px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p22{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 36.5%;
    top: 1840px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p23{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 25.5%;
    top: 1840px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p24{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 13.5%;
    top: 1840px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p25{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 77.5%;
    top: 2484px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p26{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 65.5%;
    top: 2484px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p27{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 54.5%;
    top: 2484px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p28{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 42.5%;
    top: 2484px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p29{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 30.5%;
    top: 2484px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p30{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 18.5%;
    top: 2484px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p31{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 72.5%;
    top: 3064px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p32{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 60.5%;
    top: 3064px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p33{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 48.5%;
    top: 3064px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p34{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 36.5%;
    top: 3064px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p35{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 24.5%;
    top: 3064px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p36{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 12.5%;
    top: 3064px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p37{
    
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 77.5%;
    top: 3724px;
    
    border: transparent;
    outline: none;
    z-index: 200;

}
.p38{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 66.5%;
    top: 3724px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p39{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 54.5%;
    top: 3724px;
    
    border: transparent;
    outline: none;
    z-index: 200;

}
.p40{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 42.5%;
    top: 3724px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p41{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 31.5%;
    top: 3724px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p42{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 19.5%;
    top: 3724px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p43{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 71.5%;
    top: 4309px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p44{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 59.5%;
    top: 4309px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p45{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 48.5%;
    top: 4309px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p46{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 36.5%;
    top: 4309px;
    
    border: transparent;
    outline: none;
    z-index: 200;

}
.p47{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 24.5%;
    top: 4309px;
    
    border: transparent;
    outline: none;
    z-index: 200;

}
.p48{
    position: absolute;
    background-color: transparent;
    width: 10.5%;
    height: 549px;
    right: 13.5%;
    top: 4309px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}