<div style="top:0;" #init></div>
<img src="assets/phoneImg/list.jpg" id="background-img" class="main-home" (load)="doSomething()"/>
<button class="p1" id="p1" (click)='openDialog("assets/phoneImg/1LS.jpg")'></button>
<button class="p2" id="p2" (click)='openDialog("assets/phoneImg/2LS.jpg")'></button>
<button class="p3" id="p3" (click)='openDialog("assets/phoneImg/3LS.jpg")'></button>
<button class="p4" id="p4" (click)='openDialog("assets/phoneImg/4LS.jpg")'></button>
<button class="p5" id="p5" (click)='openDialog("assets/phoneImg/5LS.jpg")'></button>
<button class="p6" id="p6" (click)='openDialog("assets/phoneImg/6LS.jpg")'></button>
<button class="p7" id="p7" (click)='openDialog("assets/phoneImg/7LS.jpg")'></button>
<button class="p8" id="p8" (click)='openDialog("assets/phoneImg/8LS.jpg")'></button>
<button class="p9" id="p9" (click)='openDialog("assets/phoneImg/9LS.jpg")'></button>
<button class="p10" id="p10" (click)='openDialog("assets/phoneImg/10LS.jpg")'></button>
<button class="p11" id="p11" (click)='openDialog("assets/phoneImg/11LS.jpg")'></button>
<button class="p12" id="p12" (click)='openDialog("assets/phoneImg/12LS.jpg")'></button>
<button class="p13" id="p13" (click)='openDialog("assets/phoneImg/13LS.jpg")'></button>
<button class="p14" id="p14" (click)='openDialog("assets/phoneImg/14LS.jpg")'></button>
<button class="p15" id="p15" (click)='openDialog("assets/phoneImg/15LS.jpg")'></button>
<button class="p16" id="p16" (click)='openDialog("assets/phoneImg/16LS.jpg")'></button>
<button class="p17" id="p17" (click)='openDialog("assets/phoneImg/17LS.jpg")'></button>
<button class="p18" id="p18" (click)='openDialog("assets/phoneImg/18LS.jpg")'></button>
<button class="p19" id="p19" (click)='openDialog("assets/phoneImg/19LS.jpg")'></button>
<button class="p20" id="p20" (click)='openDialog("assets/phoneImg/20LS.jpg")'></button>
<button class="p21" id="p21" (click)='openDialog("assets/phoneImg/21LS.jpg")'></button>
<button class="p22" id="p22" (click)='openDialog("assets/phoneImg/22LS.jpg")'></button>
<button class="p23" id="p23" (click)='openDialog("assets/phoneImg/23LS.jpg")'></button>
<button class="p24" id="p24" (click)='openDialog("assets/phoneImg/24LS.jpg")'></button>
<button class="p25" id="p25" (click)='openDialog("assets/phoneImg/25LS.jpg")'></button>
<button class="p26" id="p26" (click)='openDialog("assets/phoneImg/26LS.jpg")'></button>
<button class="p27" id="p27" (click)='openDialog("assets/phoneImg/27LS.jpg")'></button>
<button class="p28" id="p28" (click)='openDialog("assets/phoneImg/28LS.jpg")'></button>
<button class="p29" id="p29" (click)='openDialog("assets/phoneImg/29LS.jpg")'></button>
<button class="p30" id="p30" (click)='openDialog("assets/phoneImg/30LS.jpg")'></button>
<button class="p31" id="p31" (click)='openDialog("assets/phoneImg/31LS.jpg")'></button>
<button class="p32" id="p32" (click)='openDialog("assets/phoneImg/32LS.jpg")'></button>
<button class="p33" id="p33" (click)='openDialog("assets/phoneImg/33LS.jpg")'></button>
<button class="p34" id="p34" (click)='openDialog("assets/phoneImg/34LS.jpg")'></button>
<button class="p35" id="p35" (click)='openDialog("assets/phoneImg/35LS.jpg")'></button>
<button class="p36" id="p36" (click)='openDialog("assets/phoneImg/36LS.jpg")'></button>
<button class="p37" id="p37" (click)='openDialog("assets/phoneImg/37LS.jpg")'></button>
<button class="p38" id="p38" (click)='openDialog("assets/phoneImg/38LS.jpg")'></button>
<button class="p39" id="p39" (click)='openDialog("assets/phoneImg/39LS.jpg")'></button>
<button class="p40" id="p40" (click)='openDialog("assets/phoneImg/40LS.jpg")'></button>
<button class="p41" id="p41" (click)='openDialog("assets/phoneImg/41LS.jpg")'></button>
<button class="p42" id="p42" (click)='openDialog("assets/phoneImg/42LS.jpg")'></button>
<button class="p43" id="p43" (click)='openDialog("assets/phoneImg/43LS.jpg")'></button>
<button class="p44" id="p44" (click)='openDialog("assets/phoneImg/44LS.jpg")'></button>
<button class="p45" id="p45" (click)='openDialog("assets/phoneImg/45LS.jpg")'></button>
<button class="p46" id="p46" (click)='openDialog("assets/phoneImg/46LS.jpg")'></button>
<button class="p47" id="p47" (click)='openDialog("assets/phoneImg/47LS.jpg")'></button>
<button class="p48" id="p48" (click)='openDialog("assets/phoneImg/48LS.jpg")'></button>
