/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    cursor : url("./assets/cursors/CURSOR-GUITARRA.png"), url("./assets/cursors/CURSOR-GUITARRA.cur"),auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-dialog-container{
    background: transparent;
    border: none !important;
}
