.main-home{
    width: 100%;
    /* height: 5000px; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.p1{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 83.5%;
    top: 59px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p2{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 70.5%;
    top: 59px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p3{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 56.5%;
    top: 59px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p4{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 42.5%;
    top: 59px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p5{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 29.5%;
    top: 59px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p6{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 15.5%;
    top: 59px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p7{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 78.5%;
    top: 429px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p8{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 64.5%;
    top: 429px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p9{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 50.5%;
    top: 429px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p10{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 36.5%;
    top: 429px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p11{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 23.5%;
    top: 429px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p12{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 9.5%;
    top: 429px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p13{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 83.5%;
    top: 870px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p14{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 70.5%;
    top: 870px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p15{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 56.5%;
    top: 870px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p16{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 42.5%;
    top: 870px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p17{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 29.5%;
    top: 870px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p18{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 15.5%;
    top: 870px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p19{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 78.5%;
    top: 1252px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p20{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 64.5%;
    top: 1252px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p21{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 50.5%;
    top: 1252px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p22{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 37.5%;
    top: 1252px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p23{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 23.5%;
    top: 1252px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p24{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 9.5%;
    top: 1252px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p25{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 83.5%;
    top: 1698px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p26{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 70.5%;
    top: 1698px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p27{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 56.5%;
    top: 1698px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p28{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 42.5%;
    top: 1698px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p29{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 29.5%;
    top: 1698px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p30{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 15.5%;
    top: 1698px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p31{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 78.5%;
    top: 2072px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p32{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 64.5%;
    top: 2072px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p33{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 51.5%;
    top: 2072px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p34{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 37.5%;
    top: 2072px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p35{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 23.5%;
    top: 2072px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p36{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 9.5%;
    top: 2072px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p37{
    
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 83.5%;
    top: 2511px;
    
    border: transparent;
    outline: none;
    z-index: 200;

}
.p38{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 69.5%;
    top: 2511px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p39{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 56.5%;
    top: 2511px;
    
    border: transparent;
    outline: none;
    z-index: 200;

}
.p40{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 42.5%;
    top: 2511px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p41{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 29.5%;
    top: 2511px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p42{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 15.5%;
    top: 2511px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p43{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 78.5%;
    top: 2884px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p44{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 64.5%;
    top: 2884px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p45{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 50.5%;
    top: 2884px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p46{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 36.5%;
    top: 2884px;
    
    border: transparent;
    outline: none;
    z-index: 200;

}
.p47{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 23.5%;
    top: 2884px;
    
    border: transparent;
    outline: none;
    z-index: 200;

}
.p48{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 9.5%;
    top: 2884px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p49{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 83.5%;
    top: 3317px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p50{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 70.5%;
    top: 3317px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p51{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 56.5%;
    top: 3317px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p52{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 42.5%;
    top: 3317px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p53{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 29.5%;
    top: 3317px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p54{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 16.5%;
    top: 3317px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p55{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 78.5%;
    top: 3693px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p56{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 64.5%;
    top: 3693px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p57{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 51.5%;
    top: 3693px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p58{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 37.5%;
    top: 3693px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p59{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 23.5%;
    top: 3693px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p60{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 9.5%;
    top: 3693px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p61{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 83.5%;
    top: 4131px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p62{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 69.5%;
    top: 4131px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p63{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 56.5%;
    top: 4131px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p64{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 42.5%;
    top: 4131px;
    
    border: transparent;
    outline: none;
    z-index: 200;

}
.p65{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 29.5%;
    top: 4131px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p66{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 15.5%;
    top: 4131px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p67{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 77.5%;
    top: 4505px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p68{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 63.5%;
    top: 4505px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p69{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 49.5%;
    top: 4505px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p70{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 36.5%;
    top: 4505px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p71{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 22.5%;
    top: 4505px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}
.p72{
    position: absolute;
    background-color: transparent;
    width: 11.5%;
    height: 346px;
    right: 9.5%;
    top: 4504px;
    
    border: transparent;
    outline: none;
    z-index: 200;
}