<div style="top:0;" #init></div>
<img src="assets/smallphoneImg/list.jpg" id="background-img" class="main-home" (load)="doSomething()"/>
<button class="p1" id="p1" (click)="openDialog('assets/smallphoneImg/1MS.jpg')"></button>
<button class="p2" id="p2" (click)="openDialog('assets/smallphoneImg/2MS.jpg')"></button>
<button class="p3" id="p3" (click)="openDialog('assets/smallphoneImg/3MS.jpg')"></button>
<button class="p4" id="p4" (click)="openDialog('assets/smallphoneImg/4MS.jpg')"></button>
<button class="p5" id="p5" (click)="openDialog('assets/smallphoneImg/5MS.jpg')"></button>
<button class="p6" id="p6" (click)="openDialog('assets/smallphoneImg/6MS.jpg')"></button>
<button class="p7" id="p7" (click)="openDialog('assets/smallphoneImg/7MS.jpg')"></button>
<button class="p8" id="p8" (click)="openDialog('assets/smallphoneImg/8MS.jpg')"></button>
<button class="p9" id="p9" (click)="openDialog('assets/smallphoneImg/9MS.jpg')"></button>
<button class="p10" id="p10" (click)="openDialog('assets/smallphoneImg/10MS.jpg')"></button>
<button class="p11" id="p11" (click)="openDialog('assets/smallphoneImg/11MS.jpg')"></button>
<button class="p12" id="p12" (click)="openDialog('assets/smallphoneImg/12MS.jpg')"></button>
<button class="p13" id="p13" (click)="openDialog('assets/smallphoneImg/13MS.jpg')"></button>
<button class="p14" id="p14" (click)="openDialog('assets/smallphoneImg/14MS.jpg')"></button>
<button class="p15" id="p15" (click)="openDialog('assets/smallphoneImg/15MS.jpg')"></button>
<button class="p16" id="p16" (click)="openDialog('assets/smallphoneImg/16MS.jpg')"></button>
<button class="p17" id="p17" (click)="openDialog('assets/smallphoneImg/17MS.jpg')"></button>
<button class="p18" id="p18" (click)="openDialog('assets/smallphoneImg/18MS.jpg')"></button>
<button class="p19" id="p19" (click)="openDialog('assets/smallphoneImg/19MS.jpg')"></button>
<button class="p20" id="p20" (click)="openDialog('assets/smallphoneImg/20MS.jpg')"></button>
<button class="p21" id="p21" (click)="openDialog('assets/smallphoneImg/21MS.jpg')"></button>
<button class="p22" id="p22" (click)="openDialog('assets/smallphoneImg/22MS.jpg')"></button>
<button class="p23" id="p23" (click)="openDialog('assets/smallphoneImg/23MS.jpg')"></button>
<button class="p24" id="p24" (click)="openDialog('assets/smallphoneImg/24MS.jpg')"></button>
<button class="p25" id="p25" (click)="openDialog('assets/smallphoneImg/25MS.jpg')"></button>
<button class="p26" id="p26" (click)="openDialog('assets/smallphoneImg/26MS.jpg')"></button>
<button class="p27" id="p27" (click)="openDialog('assets/smallphoneImg/27MS.jpg')"></button>
<button class="p28" id="p28" (click)="openDialog('assets/smallphoneImg/28MS.jpg')"></button>
<button class="p29" id="p29" (click)="openDialog('assets/smallphoneImg/29MS.jpg')"></button>
<button class="p30" id="p30" (click)="openDialog('assets/smallphoneImg/30MS.jpg')"></button>
<button class="p31" id="p31" (click)="openDialog('assets/smallphoneImg/31MS.jpg')"></button>
<button class="p32" id="p32" (click)="openDialog('assets/smallphoneImg/32MS.jpg')"></button>
<button class="p33" id="p33" (click)="openDialog('assets/smallphoneImg/33MS.jpg')"></button>
<button class="p34" id="p34" (click)="openDialog('assets/smallphoneImg/34MS.jpg')"></button>
<button class="p35" id="p35" (click)="openDialog('assets/smallphoneImg/35MS.jpg')"></button>
<button class="p36" id="p36" (click)="openDialog('assets/smallphoneImg/36MS.jpg')"></button>
<button class="p37" id="p37" (click)="openDialog('assets/smallphoneImg/37MS.jpg')"></button>
<button class="p38" id="p38" (click)="openDialog('assets/smallphoneImg/38MS.jpg')"></button>
<button class="p39" id="p39" (click)="openDialog('assets/smallphoneImg/39MS.jpg')"></button>
<button class="p40" id="p40" (click)="openDialog('assets/smallphoneImg/40MS.jpg')"></button>
<button class="p41" id="p41" (click)="openDialog('assets/smallphoneImg/41MS.jpg')"></button>
<button class="p42" id="p42" (click)="openDialog('assets/smallphoneImg/42MS.jpg')"></button>
<button class="p43" id="p43" (click)="openDialog('assets/smallphoneImg/43MS.jpg')"></button>
<button class="p44" id="p44" (click)="openDialog('assets/smallphoneImg/44MS.jpg')"></button>
<button class="p45" id="p45" (click)="openDialog('assets/smallphoneImg/45MS.jpg')"></button>
<button class="p46" id="p46" (click)="openDialog('assets/smallphoneImg/46MS.jpg')"></button>
<button class="p47" id="p47" (click)="openDialog('assets/smallphoneImg/47MS.jpg')"></button>
<button class="p48" id="p48" (click)="openDialog('assets/smallphoneImg/48MS.jpg')"></button>
<button class="p49" id="p49" (click)="openDialog('assets/smallphoneImg/49MS.jpg')"></button>
<button class="p50" id="p50" (click)="openDialog('assets/smallphoneImg/50MS.jpg')"></button>
<button class="p51" id="p51" (click)="openDialog('assets/smallphoneImg/51MS.jpg')"></button>
<button class="p52" id="p52" (click)="openDialog('assets/smallphoneImg/52MS.jpg')"></button>
<button class="p53" id="p53" (click)="openDialog('assets/smallphoneImg/53MS.jpg')"></button>
<button class="p54" id="p54" (click)="openDialog('assets/smallphoneImg/54MS.jpg')"></button>
<button class="p55" id="p55" (click)="openDialog('assets/smallphoneImg/55MS.jpg')"></button>
<button class="p56" id="p56" (click)="openDialog('assets/smallphoneImg/56MS.jpg')"></button>
<button class="p57" id="p57" (click)="openDialog('assets/smallphoneImg/57MS.jpg')"></button>
<button class="p58" id="p58" (click)="openDialog('assets/smallphoneImg/58MS.jpg')"></button>
<button class="p59" id="p59" (click)="openDialog('assets/smallphoneImg/59MS.jpg')"></button>
<button class="p60" id="p60" (click)="openDialog('assets/smallphoneImg/60MS.jpg')"></button>
<button class="p61" id="p61" (click)="openDialog('assets/smallphoneImg/61MS.jpg')"></button>
<button class="p62" id="p62" (click)="openDialog('assets/smallphoneImg/62MS.jpg')"></button>
<button class="p63" id="p63" (click)="openDialog('assets/smallphoneImg/63MS.jpg')"></button>
<button class="p64" id="p64" (click)="openDialog('assets/smallphoneImg/64MS.jpg')"></button>
<button class="p65" id="p65" (click)="openDialog('assets/smallphoneImg/65MS.jpg')"></button>
<button class="p66" id="p66" (click)="openDialog('assets/smallphoneImg/66MS.jpg')"></button>
<button class="p67" id="p67" (click)="openDialog('assets/smallphoneImg/67MS.jpg')"></button>
<button class="p68" id="p68" (click)="openDialog('assets/smallphoneImg/68MS.jpg')"></button>
<button class="p69" id="p69" (click)="openDialog('assets/smallphoneImg/69MS.jpg')"></button>
<button class="p70" id="p70" (click)="openDialog('assets/smallphoneImg/70MS.jpg')"></button>
<button class="p71" id="p71" (click)="openDialog('assets/smallphoneImg/71MS.jpg')"></button>
<button class="p72" id="p72" (click)="openDialog('assets/smallphoneImg/72MS.jpg')"></button>